body {
color: #2B4162;
background: grey;
}

img{
  width: 100px;
}

h1 {
display: flex;
justify-content: left;

color: grey;
}

h2 {
font-size: 16px;
}

h3 {
display: flex;
justify-content: space-around;
text-decoration: underline;
}

a {
display: flex;
justify-content: space-around;
}

p {
display: flex;
justify-content: space-around;
font-family: "Times New Roman", Times, serif;
}


/*  welcome page */

#over-header{
font-size: 100px;
font-family: 'Montserrat', sans-serif;

}

#head-line{
font-family: 'Montserrat', sans-serif;
}




#comedian {
font-size: 50px;
}

#statistics-box {
background-color: lightgrey;
border-radius: 12px;
padding-bottom: 50px;
}



#statistics-header {
padding: 20px;
font-size: 35px;
}

#comedians-page-header {
padding: 20px;
font-size: 50px;
color: whitesmoke;
}


#comedian-name{
color: blue;
}

#comedian-age{
justify-content: center;
color: gold;
font-size: 10px;
}

#comedian-city{
color: whitesmoke;
font-size: 10px;
}

/* new comedian= */

#form-header{
display: flex;
justify-content: center; 
font-size: 50px;
}

#new-comedian-form{
background-color: teal;
width: 50%;
justify-content: center;
}

#new-button{
vertical-align: middle;
color: white;
background-color: black;
border-radius: 20px;
}

#new-comedian-form{
position: absolute;
top: 100px;
left: 200px;
border-radius: 20px;
}


#new-name-field{
padding: 20px;
}

#new-age-field{
padding: 20px;
}

#new-city-field{
padding: 20px;
}

#mic-head{
justify-content: center;
}


#chart{
background: aliceblue;
}


#comedian-name:hover{
background-color: yellow;
}

#comedian-specials:hover{
width: 300px;
}

/* navbar */
.navbar-brand{
color: beige;
}




