

body {
  color: #2B4162;
  background: black;
}

h1 {
display: flex;
justify-content: left;

color: grey;
}

h2 {
font-size: 16px;
}

h3 {
display: flex;
justify-content: space-around;
text-decoration: underline;
}

a {
display: flex;
justify-content: space-around;
}

p {
display: flex;
justify-content: space-around;
font-family: "Times New Roman", Times, serif;
}

#comedian-1 {
font-size: 50px;
}

#statistics-box {
background-color: lightgrey;
border-radius: 12px;;
}

#statistics-header {
padding: 20px;
font-size: 35px;
}

.page-title {
padding: 20px;
font-size: 50px;
color: whitesmoke;
}
