
<nav class="navbar">
  <div class="container-fluid">

    <div class="navbar-header">
      
      <div class="row">
        <div class="column">
          <a class="navbar-brand" href="/comedians">-Comedians-</a>
        </div>

        <div class="column">
          <a class="navbar-brand" href="/comedians/new">-New Comedian-</a>
        </div>

      </div>
      <!-- end row -->

    </div>
  <!-- end navbar-header -->

  </div>
</nav>

<div class="container">
  <div class="jumbotron">
    <div id="over-header">Laugh Tracks</div>      
    <p>Who doesn't love to laugh?</p>
  </div>
  <p>This will be a lofty quote about the philosophy of comedy.</p>      
  <p>This will be a fart joke.</p>      
</div>
  