<div class="plate">
  <p class="shadow text2">LAUGH</p>
  <p class="shadow text3">TRACKS</p>
  <p class="script">
    <span>
      <a class="navbar-brand" href="/comedians" id="see-comedians-link">
        See Comedians
      </a>
    </span>
  </p>
  <p class="script">
    <span>
      <a class="navbar-brand" href="/comedians/new" id="add-comedians-link">
        Add Comedians
      </a>
    </span>
  </p>
</div>
<!-- found at https://cssdeck.com/labs/8k3h0wq2 - saving for css snippets -->


  