<div class="plate">
  <p class="shadow text2">LAUGH</p>
  <p class="shadow text3">TRACKS</p>
</div>
  
  <p id="link-1" class="script">
    <span>
      <a class="navbar-brand" href="/comedians" id="see-comedians-link">
        See Comedians
      </a>
    </span>
  </p>
  
  <p id="link-2" class="script">
    <span>
      <a class="navbar-brand" href="/comedians/new" id="add-comedians-link">
        Add Comedians
      </a>
    </span>
  </p>

  <p id="link-3" class="script">
    <span>
      <a class="navbar-brand" href="/comedians/statistics" id="shuffle-play-link">
        Statistics
      </a>
    </span>
  </p>

  <p id="link-4" class="script">
    <span>
      <a class="navbar-brand" href="<%= @specials.sample.watch_now_url%>" id="add-comedians-link">
        Shuffle Play
      </a>
    </span>
  </p>



  