
<style>
.flex-container {
display: grid;
grid-template-columns: auto auto auto auto;
grid-template-rows: auto auto;
grid-gap: 10px;
padding: 10px;
}

a {
margin: 20px;
}
</style>


<h1>Watch Now</h1>
<div class="flex-container">

  <a href="https://www.youtube.com/watch?v=ofnSojq-vqI">
    <img src="https://m.media-amazon.com/images/M/MV5BMTcyOGMxN2MtYzUwYy00YzQxLTgwZTItZjAxZTIzYWM1YzEyXkEyXkFqcGdeQXVyNjExODE1MDc@._V1_.jpg" alt="dave" width="200px" height="200px">
  </a>

  <a href="https://www.youtube.com/watch?v=uCJDLgQ6xFk">
    <img src="https://m.media-amazon.com/images/M/MV5BMjA0ODUxODkwOV5BMl5BanBnXkFtZTgwNTMwNTA2MDE@._V1_.jpg" alt="bill" width="200px" height="200px">
  </a>

  <a href="https://www.youtube.com/watch?v=tSafPJJlYdE">
  <img src="https://m.media-amazon.com/images/M/MV5BNzIxMTUxMjYzMV5BMl5BanBnXkFtZTcwMDYwMjE0Nw@@._V1_.jpg" alt="loius" width="200px" height="200px">
  </a>

  <a href="https://www.youtube.com/watch?v=F1sd4CRcaE0">
  <img src="https://m.media-amazon.com/images/M/MV5BOWZlYjE4ZDYtNjhlNi00ZGQ0LTgxZmUtNGRjNDM4YWJmOWNiXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_.jpg" alt="john" width="200px" height="200px">
  
  </a>


</div>