<h2>Story 8:</br> 
As a visitor</br>
When I visit `/comedians`</br>
Then I see a form to input a new comedian into the database
Including fields for 
<ul> 
  <li>name</li>
  <li>age</li>
  <li>city</li>
</ul>
When the form is successfully submitted and saved,</br>
Then I am redirected to `/comedians`</br>
And I see the new comedian's data on the page.
</h2>

