<h2>Story 1:</br> 
As a visitor</br>
When I visit `/comedians`</br>
Then I see a list of comedians with the following
information for each comedian:</br>
<ul>
  <li>Name</li>
  <li>Age</li>
  <li>City</li>
</ul>
</h2>
</br>
<h2>Story 2:</br>
As a visitor</br>
When I visit `/comedians`</br>
I see also see a list of <em>each</em> comedian's TV specials' names.
</h2>
<br>
<h2>Story 3:</br>
As a visitor</br>
When I visit `/comedians`</br>
Where I see a list of comedians TV special's names, I <em>ALSO</em> see each special's run-time length in minutes, and a thumbnail image.
</h2>
<br/>
<h2>Story 4:</br>
As a visitor</br>
When I visit `/comedians`</br>
I see an area at the top of the page called <em>'Statistics'</em></br>
In that 'Statistics' area, I see the following information:</br>
<ul>
  <li>the average age of all comedians on the page</li>
  <li>the average run length of every TV special on the page</li>
  <li>the average run length of every TV special on the page</li>
  </li>
  </ul>
<br/>
<h2>Story 6:</br>
As a visitor</br>
When I visit `/comedians`</br>
I see a count of their TV specials</br>
and the Statistics area on the page should list a total count</br>
of TV specials for every comedian.
</h2>